header {
    background-color: #176B87;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.imagen-logo {
    max-width: 87px;
    height: auto;
}

.Titulo {
    height: 19px;
    margin: -95px 0 52px;
    margin-left: 100px;
    color: #FFFFFF;
    font-size: 27px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Caja {
    width: 940px;
    position: relative;
    margin-left: 150px;
}

nav {
    position: absolute;
    top: 12px;
    margin-left: 350px;
}

nav li {
    display: inline;
    margin: 5px;
}

nav a {
    text-transform: uppercase;
    color: #e8e0e0;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover {
    color: #FBAED2;
    text-decoration: underline;
}

.main{
    margin-top: 20px;
}


.imagen-foother{
    width: 150px; 
    height: auto; 
}

footer {
    text-align: center;
    background: #010101;
    padding: -10px;
}

.copyright {
    color: #FFFFFF;
    font-size: 15px;
    margin: 20px;
}

.asesoru{ margin-top: 150px;
    margin-left: 40px; 
    padding: 10px; 
    float: left;
    vertical-align: top;

}

.nombre{display: inline-block;
    text-align: center;
    justify-content: center;
padding: 1px;
margin-left: 12%;

}
.titulo{display: inline-block;
    text-align: center;
    width: 700px;
    margin-left: 9%;
    width: 550px;
    margin-top: 0%;
}
    
.parrafo{
    margin-top: 100px;
    margin-inline-start: 140px;
    display: inline-block;
    width: 500px;
    font-size: 20px;
}
.lista{display: inline-block;}
.lista1{display: inline-block;
width: 700px;}